body{
  margin: 0;
  padding: 0;   
}

.container{
  width:400px;
	height:200px;
	padding:20px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -220px;
	margin-left: -220px;
}

.card{
	text-align: center;
	border:50px solid rgba(0,0,0,.2);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 20px;
}

p{
  font-size:12px;
  text-decoration: none;
  color:#ffffff;
}

h1{
  text-align: center;
  color:red;
  animation-name: title;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes title {
  25%{color: red; }
  50%{color: yellow; }
  75%{color: green; }
  100%{color: blue; }
}

.input{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button{
  display: flex;
  justify-content: center;
  
}

.login-button{
  background:#2ecc71;
  width: 100px;
  padding: 6px;
  color:white;
  border-radius:4px;
  border: #27ae60 1px solid;
  margin-top:20px;
  float:left;
  font-size: 12px;
}

.login-google-button{
  background:#2ecc71;
  width: 100px;
  padding: 6px;
  color:white;
  border-radius:4px;
  border: #27ae60 1px solid;
  margin-top:20px;
  float:left;
  font-size: 12px;
}

a{
  text-decoration: none;
  color: white;
}